@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Signika:wght@400;700&display=swap');
/* font-family: 'EB Garamond', serif; */
/* font-family: 'Signika', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontSizeH1: 20px;
    --fontSizeH2: 118px;
    --fontSizeH3: 16px;
    --fontSizeP: 14px;
}

body {
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Signika', sans-serif;
}

.burger {
    display: none;
    font-size: var(--fontSizeH1);
}


header {
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-shadow: 0 0 3px rgb(114, 8, 8);
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 100%;
    min-height: 100%;
}

header div.logo {
    display: flex;
    align-items: center;
    padding-left: 10%;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}


header div img {
    order: -1;
}

header .owners {
    text-transform: uppercase;
}

header .owners span {
    text-decoration: overline
}

header div.motto {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding: 5%;
}

header h2 {
    font-size: 20px;
    color: rgb(114, 8, 8);
    text-shadow: 0 0 3px black;
}

header .names {
    font-size: 26px;
    margin-top: 10%;
}

@media (min-width:375px) {
    header .owners {
        font-size: 42px;
    }

    header .names {
        margin-left: 90px;
    }
}

main {}

section.target,
section.typeOfWork,
section.price,
section.wayToContact,
section.faq,
section.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

section.target {
    background-color: black;
    padding-bottom: 15vh;
    background: linear-gradient(180deg, black 0%, black 90%, white 100%)
}

.target h1 {
    font-size: 32px;
    color: rgb(114, 8, 8);
    text-align: center;
    margin: 5vh 0;
}

.target ul {
    list-style: none;
}

.target li {
    margin-bottom: 5vh;
    display: flex;
}

.target p {
    color: rgb(77, 54, 54);
}

.target i {
    margin-right: 15px;
    color: rgb(114, 8, 8);
}

section.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 5vh;
    min-height: 90vh;
    background: linear-gradient(180deg, white 0%, white 90%, black 100%);
    padding-bottom: 7vh
}

.partners h2 {
    margin-bottom: 6vh;
    text-align: center;
    font-size: 32px;
    padding: 0 0 5vh;
}

.partners img {
    display: block;
    width: 90%;
}

.partners i {
    display: none;
}

section.typeOfWork {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10vh 5vh; 
}

section.price
{
    text-align: center;
}
section.wayToContact,
section.faq,
section.contact {}

footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: black;
}

footer p {
    margin-top: 10px
}