@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Signika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* font-family: 'EB Garamond', serif; */
/* font-family: 'Signika', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontSizeH1: 25px;
    --fontSizeH2: 118px;
    --fontSizeH3: 24px;
    --fontSizeP: 14px;
}

body {
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Signika', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    transition: 1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(210, 210, 210);
    ;
}

div.call {
    position: fixed;
    bottom: 3%;
    left: 5%;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 20px;
    z-index: 1;
    background-color: black;
}

div.call i {
    color: #ddd;
    font-size: 26px;
    font-weight: 700;
}

.preload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #000000;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader {
    visibility: visible;
    opacity: 1;
}

.preload p {
    color: white;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    letter-spacing: 2px;
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.configure-border-1 {
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
    width: 115px;
    height: 115px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

/* //burger */
svg {
    height: 80px;
    position: absolute;
    width: 80px;
}

.plates {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    width: 640px;
}

@media (max-width: 640px) {
    .plates {
        width: 320px;
    }
}

.plate {
    height: 80px;
    width: 80px;

}

@keyframes navArrow {
    1% {
        transform: rotate(-10deg);
    }

    4% {
        transform: rotate(10deg);
    }

    6% {
        transform: rotate(-10deg);
    }

    7% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.eburger {
    filter: url(#gooeyness);


}

.x {
    transform: scale(0);
    transition: transform 400ms;

}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;

}

.x .line {
    stroke-width: 5.5px;
    animation: navArrow 4s infinite ease-out;
}

/* First plate */
.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}

.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}

.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.burger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 10%;
    background-color: rgba(0, 0, 0, 1);
    font-size: 30px;
    cursor: pointer;
    z-index: 20;
    color: #ddd;
    transition: .2s ease-out;
    text-decoration: none;
}

.nazwaFirmyTop {
    font-size: 26px;
    /* text-transform: uppercase; */
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logoFirmyTop {
    height: 70%;
    margin: 0 5%;
}

.nazwaFirmyTop.off,
.logoFirmyTop.off,
i.off {
    opacity: 0;
}

.burger.off {
    background-color: transparent;
    /* justify-content: end; */
    /* padding-right: 10%; */
}


nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    transition: .2s ease-out;
    z-index: 15;
    /* background-image: url(../img/nav.png); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: radial-gradient(rgb(133, 123, 123) 0%, #b1b9b9 100%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;

}

nav ul {
    list-style: none;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
    padding-top: 17vh;
}

/* nav ul::before {
    content: '';
    display: block;
    width: 96%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 100%;
    animation: ulBeforeTop 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulBeforeTop {
    100% {
        left: 4%;
    }
} */

nav ul::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 4%;
    animation: ulAfterBotLeft 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulAfterBotLeft {
    100% {
        top: 0;
    }
}


/* nav::before {
    content: '';
    display: block;
    width: 96%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 15%;
    left: -100%;
    animation: ulBeforeBot 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulBeforeBot {
    100% {
        left: 0;
    }
} */

nav::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 4%;
    animation: ulAfterBotRight 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulAfterBotRight {
    100% {
        top: 0%;
    }
}




nav ul li:last-child {
    margin-bottom: 11vh;
}

nav ul li a,
nav ul a,
nav ul button {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: transparent;
    /* background: linear-gradient(180deg, rgb(10, 236, 67) 0%, #5fc004 100%); */
    /* background: linear-gradient(180deg, rgb(255, 5, 5) 0%, rgb(255, 72, 0)100%); */
    display: block;
    padding: 1vh 0;
    text-align: center;
    text-decoration: none;
    /* color: rgb(34, 29, 29 ); */
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
    z-index: 15;
    border: 1px solid white;
}

nav ul li,
nav ul button {
    margin-top: 5vh;
    animation: navA .8s alternate infinite linear;
}

nav ul a {
    margin-top: 3vh;
}

.tel {
    margin-top: 5vh;
}


.showNav.off {
    display: none;
}

@keyframes navA {
    0% {
        transform: translateX(0%) scale(1.05);
    }

    100% {
        transform: translateX(0%) scale(1.1);
    }
}

nav ul li a:hover,
nav ul button:hover,
nav ul a:hover {
    color: red;
    border: 1px solid red;
    background-color: black;
}

nav ul li a i,
nav ul button i {
    margin-right: 20px;
}

nav.off {
    top: -100vh;
}

header {
    padding-top: 15vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    /* font-style: italic; */
}

header div.motto {
    width: 90%;
    text-align: center;
    z-index: 1;
    padding: 5vh 5%;
    color: white;
    /* font-size: 30px; */
    /* background-color: rgba(0, 0, 0, .7); */
    /* border-radius: 15px; */
}

header h2 {
    font-size: 24px;
    font-weight: normal;
}

header .names {
    font-size: 22px;
    margin-top: 10%;
    font-weight: normal;
}

header img {
    display: block;
    max-width: 100%;
    margin: 4vh auto 0;
    /* max-height: 50vh; */
}


section.target,
section.typeOfWork,
section.vidSite,
section.price,
section.wayToContact,
section.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}


section.target {
    padding: 5vh 5% 3vh;
    background-color: rgb(210, 210, 210);
    /* background: linear-gradient(180deg, black 0%, black 93%, white 100%); */
    overflow: hidden;

}

div.trojkat {
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
    background-color: black;
    width: 100%;
    height: 15vh;
}

.target h1 {
    margin-bottom: 3vh;
    font-size: var(--fontSizeH1);
    color: #750c0c;
    border-top: 4px solid black;
    text-align: center;
    text-transform: uppercase;
    /* background: linear-gradient(135deg, #a09e9e 0%, #4d4d48 100%); */
    padding: 5vh 0 0;
}

.target ul {
    border-top: 4px solid black;
    list-style: none;
    padding-top: 5vh;
}

.art1,
.art3,
.art5,
.art2,
.art4 {
    transform: translateX(-100vw);
    transition: .4s ease-in;
}

.art1.active,
.art2.active,
.art3.active,
.art4.active,
.art5.active {
    transform: translateX(0);
}

.target li {
    box-shadow: 0 0 0 4px rgb(210, 210, 210), 0 0 0 8px black;
    background: radial-gradient(rgb(8, 4, 4) 0%, #2a2b2b 100%);
    /* background: linear-gradient(200deg, #29E009 0%, #9FE009 100%); */
    border-radius: 10px;
    padding: 3vh;
    margin-bottom: 5vh;
    display: flex;
    color: #ddd;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
}

.target li p {
    font-size: 22px;
}

.target i {
    margin-right: 15px;
    /* margin-left: 15px; */
    font-size: 30px;
    color: #750c0c;
}


section.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 5vh;
    /* min-height: 90vh; */
    background: linear-gradient(180deg, white 0%, white 90%, #6c6e6e 100%);
    padding-bottom: 7vh;
}

.partners h2 {
    text-align: center;
    font-size: 32px;
    padding: 5vh 0 0;
    margin: 0 0 5vh;
    text-decoration: overline;
    letter-spacing: 2px;
    color: #750c0c;
    border-top: 2px dashed black;
    width: 100%
        /* background-color: yellow; */
}

.partners .img img {
    display: block;
    width: 100vw;
    border-bottom: 2px dashed black;
    padding: 7vh 0 5vh;
}

.partners .img {
    position: relative;
}

.partners .img .dots {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dots div.active {
    background-color: black;
    box-shadow: 0px 0px 3px 4px white;
}

.partners .img .dots div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.partners .reklama {
    position: relative
}

.partners .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    /* background-color: rgba(0, 0, 0, .7); */
    z-index: 1;
}

.partners .right i {
    position: absolute;
    right: 5%;
    top: 50%;
    font-size: 50px;
    color: #9c9a9b;
}

.partners .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    /* background-color: rgba(0, 0, 0, .7); */
    z-index: 1;
}

.partners .left i {
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 50px;
    color: #9c9a9b;
}


section.typeOfWork {
    /* background-image: url(../img/structure.jpg); */
    background: radial-gradient(rgb(153, 148, 148) 0%, #6c6e6e 100%);
    text-align: center;
    padding: 5vh 0 0;
}

section.vidSite {
    background-color: black;
    text-align: center;
    padding: 13vh 0 0;
}


.typeOfWork h1 {
    margin: 0 auto;
    padding: 5vh;
    text-transform: uppercase;
    color: white;
    width: 80%;
    border-top: 2px solid white;
    font-size: var(--fontSizeH1);
}


.typeOfWork article,
.vidSite article {
    /* background: linear-gradient(135deg, #686565 0%, #707066 100%); */
    /* background-color: #ada9a9; */
    background-color: rgb(10, 10, 10);
    /* background: radial-gradient(rgb(70, 64, 64) 0%, #2a2b2b 100%); */
    /* background: linear-gradient(200deg, #29E009 0%, #9FE009 100%); */
    padding: 5vh 5%;
    width: 90%;
    margin: 0 auto 10vh;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.vidV {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 5vh;
    border: 1px solid white;
}

.typeOfWork h2,
.vidSite h2 {

    letter-spacing: 2px;
    font-size: 28px;
    color: #be1818;
    font-weight: 700;
    text-transform: uppercase;
}

.typeOfWork .borderWish,
.vidSite .borderWish {
    border: 1px solid white;
    background-color: black;
    margin-bottom: 5vh;
    padding: 5% 0;
    border-radius: 15px;
}

.typeOfWork article p,
.vidSite article p {
    font-size: 20px;
    letter-spacing: 2px;
    font-style: italic;
    color: #FFF;
    transition: 2s;
    margin-top: 5vh;
}


.typeOfWork article p.off {
    display: none;
}


.moreAboutOfer {
    display: block;
    padding: 7px 20px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 15px;
    border: 1px solid white;
    background-color: black;
    color: #ddd;
    position: relative;
    /* transform: translate(-50%, -50%); */
    transition: 2s;
    /* animation-name: buttonA;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    cursor: pointer;
    /* margin: 5vh 0 10vh; */
    margin: 5vh auto 0;
    padding: 3% 10%;
    border-radius: 15px;
}

@keyframes buttonA {
    0% {
        transform: scale(0.9);
    }

    /* 
    41% {
        transform: translateX(0);
    }

    42% {
        transform: translateX(-10%)
    }

    43% {
        transform: translateX(10%)
    }

    44% {
        transform: translate(-10%)
    }

    45% {
        transform: translateX(10%)
    }

    46% {
        transform: translate(-10%)
    }

    47% {
        transform: translateX(10%)
    }

    48% {
        transform: translateX(-10%)
    } */

    49% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }

}

.typeOfWork article button::after {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: white;
    transition: .3s linear;
}

.typeOfWork article button:hover::after {
    left: 100%;
}

.typeOfWork article button::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    transition: .3s .4s linear;
}

.typeOfWork article button:hover::before {
    bottom: 100%;
}



section.bgc1 {
    background-image: url(../img/bgc1.jpg)
}

section.price {
    text-align: center;
    /* min-height: 180vh; */
    background-color: black;
    background: radial-gradient(rgb(70, 64, 64) 0%, #2a2b2b 100%);
    color: white;
    padding: 3vh 5%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.price h1 {
    text-transform: uppercase;
    margin-top: 3vh;
    padding-bottom: 5vh;
    border-bottom: 2px solid white;
    font-size: var(--fontSizeH1);
}

.price p {
    font-size: 18px;
    padding-bottom: 5vh;
    padding-top: 5vh;
    border-bottom: 1px dashed white;
}

.price p:last-of-type {
    border: none;
}

section.bgc2 {
    background-image: url(../img/bgc1.jpg);
}

section.wayToContact {
    background-color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
    color: white;
    padding-top: 5vh;
}

.wayToContact h1 {
    font-size: 28px;
    border-bottom: 2px solid white;
    padding-bottom: 5vh;
    margin-bottom: 3vh;
    text-transform: uppercase;
}

.wayToContact h2 {
    letter-spacing: 2px;
    padding-bottom: 5vh;
}

.wayToContact p {
    font-size: 19px;
    text-align: center;
}

.wayToContact .callUs {
    display: flex;
    flex-direction: column;
    background: linear-gradient(125deg, rgb(173, 8, 8) 0%, rgb(199, 3, 3) 100%);
    padding: 20px 5%;
    margin: 5vh 0;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 0 2px black, 0 0 0 4px rgb(173, 8, 8);
}

.wayToContact .callUs p {
    font-size: 22px;
}

.wayToContact h3 {
    padding: 3vh 0 0;
    font-size: var(--fontSizeH3);
}

.wayToContact i {
    margin-right: 10px;
    margin-left: 10px;
}

.wayToContact .fa-at {
    margin-right: 15px;
}

.wayToContact p {
    margin: 3vh 0;
    font-size: 18px;
}

.wayToContact .pawel {
    padding-top: 3vh;
    padding-bottom: 3vh;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wayToContact .wojtek {
    border-bottom: 2px solid black;
    padding-bottom: 3vh;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wayToContact a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 4vh;
}

.wayToContact .mail a {
    font-size: 18px;
}

section.bgc3 {
    background-image: url(../img/bgc3.jpg);
}

section.faq {
    padding: 10vh 5%;
    background-color: black;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 0 0 0 6px black, 0 0 0 8px white;

}

.faq h1 {
    font-size: var(--fontSizeH1);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    border-bottom: 2px solid white;
}

.faq h3 {
    margin-top: 3vh;
    padding: 3vh 2vh;
    text-align: center;
    border: 2px solid rgb(173, 8, 8);
    color: rgb(173, 8, 8);
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: space-around
}

.faq i {}

.faq i.off,
.faq p.off {
    display: none
}

.faq p {
    color: #ddd;
    margin-bottom: 3vh;
    padding: 3vh;
    font-size: 19px;
    text-align: center;
    background: radial-gradient(rgb(124, 8, 8) 0%, #570303 100%);
}

.faq h3 {}

.faq .line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 5vh;
}

section.bgc4 {
    background-image: url(../img/bgc.jpg);
    background-position: left 45%
}

section.contact {
    min-height: 150vh;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-bottom: none;
    text-align: center;
}

.contact h1 {
    font-size: var(--fontSizeH1);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.contact .adres,
.contact .telefony {
    display: flex;
    flex-direction: column;
}

.contact div h2 {
    padding-top: 5vh;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(173, 8, 8);
    padding-bottom: 3vh;
}

.contact p {
    font-size: 24px;
    letter-spacing: 2px;
}

.contact a {
    padding-top: 5vh;
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(173, 8, 8);
    font-size: 26px;
    padding-bottom: 3vh;
}

.contact .mail2 {
    color: white;
    font-size: 18px
}

.contact i {
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(13, 131, 241)
}

.contact .fb2 {
    color: rgb(13, 131, 241)
}

.contact iframe {
    display: block;
    width: 100%;
    margin: 5vh auto;
}

footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-top: 2px dashed white;
    padding-bottom: 5vh
}

footer p {
    text-transform: uppercase;
    margin-top: 5vh;
}

footer a,
.author {
    color: yellow;
    text-decoration: none;
    margin-top: 3vh;
    font-size: 22px;
}

section.bgc1,
section.bgc2,
section.bgc3,
section.bgc4 {
    height: 70vh;
    max-height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/bgc1.jpg)
}